.footer-wrapper
    .footer__logo
        a(href="/").logo
            svg(width="49" height="35")
                use(xlink:href="#icon-logo-white")
    .footer__menu
        ul.footer__menu-list
            li.footer__menu-item
                a(href="#").footer__menu-link About Us
            li.footer__menu-item
                a(href="#").footer__menu-link Privacy Policy
    .footer__form
        form(action="" method="POST").form-subscribe
            +input("email", "email", "email", {
                value: false,
                placeholder: 'Enter your email',
                required: true,
            })
            +submit('submit', 'Sign Up Now')(class="form-subscribe__button")
