.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-auto-rows: auto;
    align-items: start;
    padding: 58px 0 52px;

    @include tablet-portrait {
        padding: 52px 0 37px;
    }

    @include laptop {
        padding: 74px 0;

    }

    @include for-ie {
        @include flex(space-between);
        align-items: center;
        max-width: $containerWidth;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.footer {
    &__logo {
        grid-column: 3 / span 5;

        @include tablet-portrait {
            grid-column: 2 / span 2;
        }

        @include laptop-wide {
            grid-column: 6 / span 2;
        }
    }

    &__menu {
        display: flex;
        grid-column: 20 / 31;
        justify-content: flex-end;

        @include tablet-portrait {
            grid-column: 7 / span 5;
            justify-content: flex-start;
        }

        @include laptop {
            grid-column: 8 / span 6;
            min-width: 30%;
        }

        @include laptop-wide {
            grid-column: 9 / span 7;
        }
    }

    &__menu-list {
        list-style-type: none;
        padding: 0;

        @include laptop {
            @include flex();
        }
    }
    &__menu-item {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }

        @include laptop {
            margin-right: 54px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__menu-link {
        @include roboto(medium);
        display: block;
        color: $white;
        text-decoration: none;
        line-height: 40px;
    }

    &__form {
        grid-column: 3 / -3;
        width: 100%;

        @include tablet-portrait {
            grid-column: 14 / -2;
            max-width: 464px;
            justify-self: right;
        }

        @include laptop {
            width: auto;
            max-width: none;
        }

        @include laptop-wide {
            grid-column: 18 / -6;
        }

        @include for-ie {

        }
    }
}

.form-subscribe {
    width: 100%;
    text-align: center;
    padding-top: 34px;

    .input-block {
        margin-bottom: 22px;
    }

    @include tablet-portrait {
        @include flex();
        align-items: flex-end;
        width: 434px;
        padding-top: 0;
        margin-left: auto;

        .input-block {
            width: 57%;
            margin-bottom: 0;
            margin-right: 8.7%;
        }
    }

    @include laptop {
        min-width: 560px;

        .input-block {
            width: 68.5%;
            margin-right: 5%;
        }
    }

    @include laptop-wide {
        min-width: 600px;
    }
}
