.header {
    position: relative;
    background-color: $white;
}

.header-test {
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 200px;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 73px;

    @include tablet-portrait {
        padding-top: 45px;
        padding-bottom: 92px;
    }

    @include laptop {
        padding-top: 105px;
        padding-bottom: 151px;
    }
}

.footer {
    background-color: $violet;
    margin-top: auto;
}
