.button {
	@include roboto(medium);
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	line-height: 30px;
	color: $white;
	text-decoration: none;
	background-color: $violet;
	border-radius: 50px;
	border: none;
	padding: 15px 58px;
	cursor: pointer;
	transition: background ease 0.5s;

	&:focus {
		outline: 0;
	}

	@include laptop {
		&:hover {
			background-color: $violet-light;
		}
	}

	&--yellow {
		background-color: $orange;

		@include laptop {
			&:hover {
				background-color: $orange-light;
			}
		}
	}

	&--submit {
		font-size: 16px;
		line-height: 26px;
		padding: 11px 28px;
	}
}
