nav.menu
	ul.menu__list.list
		li.menu__item
			a.menu__link(href="#") About
		li.menu__item
			a.menu__link(href="#") Help
				svg(width="10" height="6").menu__arrow
					use(xlink:href="#icon-arrow-bottom")
			ul.submenu.list
				li.submenu__item
					a.submenu__link(href="#") User Guide
				li.submenu__item
					a.submenu__link(href="#") Contact Support
		li.menu__item
			a.menu__link(href="#") Features
