nav.menu
	ul.menu__list
		li.menu__item
			a.menu__link(href="#") About
		li.menu__item
			a.menu__link(href="#") Help
				svg(width="10" height="6").menu__arrow
					use(xlink:href="#icon-arrow-bottom")
			ul.menu__submenu
				li.menu__submenu-item
					a.menu__submenu-link(href="#") User Guide
				li.menu__submenu-item
					a.menu__submenu-link(href="#") Contact Support
		li.menu__item
			a.menu__link(href="#") Features
