-
mixin slickItem
	.slider__item
		if block
			block
		else
-;


.slider
	.slider__content.j-slider
		+slickItem
			+article(
				'First Feature',
				'Little Red Cap opened her eyes and when she saw the sunbeams dancing to and fro through the trees and how the ground was covered with beautiful flowers.',
				'Learn more'
			)
		+slickItem
			+article(
				'Second Feature',
				'Each time she picked one she thought that she could see an even more beautiful one a little way off, and she ran after it, going further and further into the woods.',
				'Learn more'
			)
		+slickItem
			+article(
				'Third Feature',
				'The wolf pressed the latch, and the door opened. He stepped inside, went straight to the grandmother\'s bed, and ate her up.',
				'Learn more'
			)
		+slickItem
			+article(
				'Fourth Feature',
				'Little Red Cap had run after the flowers. After she had gathered so many that she could not carry any more, she remembered her grandmother.',
				'Learn more',
				'new'
			)
