.content-slider-block {
    background-color: $yellow;
    padding: 38px 0 27px;
    overflow: hidden;

    @include tablet-portrait {
        max-width: 682px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 97px;
        padding-bottom: 52px;
    }

    @include laptop {
        max-width: 1200px;
    }
}
