extends layout/_layout.pug

//- Блок переменных
append config
	- var currentURL = 'index.html';

//- Блок контента страницы

block content
	.container
		h1.title-h1 Features
		p.description.description--max-width Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
	section.section-features-slider
		include ../components/slickSlider/slickSlider
