.index-content {
    grid-column: 3 / -3;

    @include tablet-portrait {
        grid-column: 2 / -2;
    }

    @include laptop-wide {
        grid-column: 6 / -6;
    }
}

.content-slider-block {
    grid-column: 1 / -1;
    background-color: $yellow;
    padding: 38px 0 27px;
    overflow: hidden;

    @include tablet-portrait {
        grid-column: 3 / -3;
        width: 100%;
        max-width: 1200px;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 97px;
        padding-bottom: 52px;
    }

    @include tablet-landscape {
        grid-column: 6 / -6;
    }

    @include laptop {
        grid-column: 3 / -3;
    }

    @include fullhd {
        max-width: 100%;
        grid-column: 7 / -7;
    }

    @include for-ie {
        max-width: 1200px;

    }
}