-
mixin input(type, id, name, attrs)
	input.input-block(
		type=type
		id=id
		name=name
	)&attributes(attrs)
-;

//-+input("id", "name", {
//-	value: false,
//-	placeholder: false,
//-	pattern: false,
//-	disabled: false,
//-	required: true,
//-	class: false
//-})
